<ion-header>
  
     <ion-title #loginTitle class="login-title">
      Bienvenido a Duoc UC</ion-title>
  
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" required [(ngModel)]="username" name="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required [(ngModel)]="password" name="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!loginForm.form.valid" class="blinking-button">

     Ingresar</ion-button>

    <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
  </form>

    <ion-button expand="full" color="medium" (click)="goToResetPassword()" class="blinking-button">
    Recuperar Contraseña
    </ion-button>
    
        <img src="assets/LogoDU.jpg" alt="Logo Institucional" class="institutional-logo">
      
    
</ion-content>